# Build artifacts
result
result-*

# VM artifacts
*.qcow2
*.qcow2.*

# Nix build outputs
.direnv/

# History Files
history.txt

# Secret management
extra-files/
**/age-key*.txt
.sops-age-keys/

# Matugen Colors
colors.css
gtk.css
colors.qss
MatugenDynamic.kvconfig

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*~
