# Build artifacts
result
result-*

# VM artifacts
*.qcow2
*.qcow2.*

# Nix build outputs
.direnv/

# History Files
history.txt


# Matugen Colors
colors.css
gtk.css
colors.qss
MatugenDynamic.kvconfig

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*~
